.site-branding {
  margin-top: 2rem;
  display: flex;
  .logo {
    width: 300px;
  }
}
@media (min-width: 620px) {
  .logo {
    width: 400px;
  }
}
@media (min-width: 1120px) {
  .site-branding {
    max-width: 2560px;

    .logo {
      width: 600px;
      margin: 0 auto;
    }
  }
}
