.container {
  background-color: #222222;
}

.content-area {
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
  background-color: palevioletred;

  font-family: 'Exo';
  font-weight: 500;
  font-style: normal;
}
