.content-area {
  // background-color: rebeccapurple;
  margin: 0 auto;
  padding-top: 1rem;
  width: 100%;
  font-family: 'Exo';
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;

  font-size: 1.25rem;
}

@media (min-width: 620px) {
  .content-area {
    font-size: 1.75rem;
  }
}

@media (min-width: 1080px) {
  .site-content {
    margin-right: 20rem;
    margin-left: 20rem;
  }
}

//background-color: #222222;
