/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
.grandecontainer {
  .archives {
    display: inline-flex;
    list-style-type: none;
    font-size: 1rem;

    @media (min-width: 620px) {
      font-size: 1.25rem;
    }
  }

  .subtitle {
    font-weight: 400;
  }
  .tagslist {
    font-size: 1rem;

    @media (min-width: 620px) {
      font-size: 1.25rem;
    }
  }
  .tags {
    font-size: 1rem;

    @media (min-width: 620px) {
      font-size: 1.25rem;
    }
  }
}
.a {
  list-style-type: none;
}

/* Submit a Quote Page */

.form-section {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  .form {
    padding-bottom: 0.8rem;
    p {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }
}

/* 404 */

.search-submit {
  border: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* Archive */

.archive {
  .page-title {
    margin-bottom: 1.5rem;
  }

  .entry-content {
    border-top: 1px dashed #ffffff;
    margin-top: 1.5rem;

    .p {
      margin-top: 1.5rem;
      font-size: 1.25rem;
    }
  }
}

/* About */

.about {
  font-size: 1rem;
}
