.site-info {
  //   background-color: orange;
  //   display: flex;
  //   flex-wrap: wrap;
  margin-top: 2rem;
  font-weight: 300;

  .footer-item {
    display: inline-flex;
    border-right: 1px solid #fff;
    line-height: 1;
    padding: 0 1rem;

    &:first-child {
      padding-left: 0;
    }
  }
}
