.site-info {
  margin-top: 4rem;
  font-weight: 300;
  .footer {
    padding-bottom: 1rem;
  }
  .footer2 {
    display: flex;
  }

  .footer-item {
    border-right: 1px solid #fff;
    line-height: 1;
    padding: 0 1rem;
    list-style-type: none;

    &:first-child {
      padding-left: 0;
    }
  }
}

@media (min-width: 620px) {
  .site-info {
    display: flex;
  }
}

@media (min-width: 1120px) {
}
